<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ultimate Quiz</title>
    <style>
    body{
        background-image: url('/static/fireworks.gif');
        background-repeat: no-repeat;
        background-size: cover;
    }
    p
    {           
                text-align:center;
                font-size: 10em;
                color: rgb(0, 0, 0);
    }
    </style>
</head>
<body>
    <p>
        Final Score is : {{finalscore}}
    </p>
</body>
</html>
