<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> The Ultimate Quiz</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
                text-align: left;
                color: rgb(98, 0, 255);
                font-size: 4em;
            }
            p {
                text-align:left;
                font-size: 1.5em;
                color: rgb(0, 0, 0);
            }
    </style>
</head>
<body>
    <h1>The Ultimate Quiz</h1>
<p>
    It's time to find out all about GIT!
    
    We've put together this awesome  Quiz page <br>
    
    all about frequently used GIT commands. 
     What new fact will you learn?
</p>
<br><br>
<p>Please enter your name and click on start to start the Quiz. </p>


<form action="{{url_for('intro_page')}}" method="POST">
    <div style="text-align:left;">
        <label for="name" style="color: black; font-size: 1.2em ;"><b>Name:</b></label>
        <input type="text" id="name" name="Name">
        <button type="submit">Start </button><br>
    </div>
</form>

    


</body>
</html>