<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-image: url('/static/quizbg.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        h1,h2{
            color: rgb(255, 255, 255);
        }

    </style>
</head>
<body>

    <h1>Welcome to the Quiz {{username}}</h1>
    <h2>Let's begin the quiz!!</h2>
    <br><br>


    <form action="{{url_for('final_page_sports')}}" method="POST">

        <div style="text-align: left; font-size: 1.3em; color: rgb(255, 255, 255);">
                <label for="q1s"><b> How frequently is FIFA World Cup is held?</b></label><br>
                <br>

                <input type="radio" id="q1so1" name="q1s" value="q1so1">
                <label for="q1so1">Every 2 Years</label><br>

                <input type="radio" id="q1so2" name="q1s" value="q1so2">
                <label for="q1so2">Every 3 Years</label><br>

                <input type="radio" id="q1so3" name="q1s" value="q1so3">
                <label for="q1so3">Every 4 Years</label><br>

                <input type="radio" id="q1so4" name="q1s" value="q1so4">
                <label for="q1so4">Every Year</label><br>

        </div>
        <br>

        <div style="text-align: left; font-size: 1.3em; color: rgb(255, 255, 255);">
            <label for="q2s"><b>How many times has India won the Men’s Hockey World Cup in the Olympics
                    &#128161</b></label><br>
            <br>

            <input type="radio" id="q2so1" name="q2s" value="q2so1">
            <label for="q2so1">3</label><br>

            <input type="radio" id="q2so2" name="q2s" value="q2so2">
            <label for="q2so2">2</label><br>

            <input type="radio" id="q2so3" name="q2s" value="q2so3">
            <label for="q2so3">1</label><br>

            <input type="radio" id="q2so4" name="q2s" value="q2so4">
            <label for="q2so4">0</label><br>

        </div>
        <br>

        <div style="text-align: left; font-size: 1.3em; color: rgb(255, 255, 255);">
            <label for="q3s"><b>Who is known as “The Baltimore Bullet” &#128161</b></label><br>
            <br>

            <input type="radio" id="q3so1" name="q3s" value="q3so1">
            <label for="q3so1">Roger Federer</label><br>

            <input type="radio" id="q3so2" name="q3s" value="q3so2">
            <label for="q3so2">Usain Bolt</label><br>

            <input type="radio" id="q3so3" name="q3s" value="q3so3">
            <label for="q3so3">Michael Phelps</label><br>

            <input type="radio" id="q3so4" name="q3s" value="q3so4">
            <label for="q3so4">Michael Jordan</label><br>

        </div>
        <br>

        <div style="text-align: left; font-size: 1.3em; color: rgb(255, 255, 255);">
            <label for="q4s"><b>Who is the Undisputed World Chess Champion from 2007–2013 &#128161</b></label><br>
            <br>

            <input type="radio" id="q4so1" name="q4s" value="q4so1">
            <label for="q4so1">Viswanathan Anand</label><br>

            <input type="radio" id="q4so2" name="q4s" value="q4so2">
            <label for="q4so2">Vladimir Kramnik</label><br>

            <input type="radio" id="q4so3" name="q4s" value="q4so3">
            <label for="q4so3">Magnus Carlsen</label><br>

            <input type="radio" id="q4so4" name="q4s" value="q4so4">
            <label for="q4so4">Veselin Topalov</label><br>


        </div>
        <br>

        <div style="text-align: left; font-size: 1.3em; color: rgb(255, 255, 255);">
            <label for="q5s"><b>What is the National Sport of China &#128161</b></label><br>
            <br>

            <input type="radio" id="q5so1" name="q5s" value="q5so1">
            <label for="q5so1">Table Tennis</label><br>

            <input type="radio" id="q5so2" name="q5s" value="q5so2">
            <label for="q5so2">Baseball</label><br>

            <input type="radio" id="q5so3" name="q5s" value="q5so3">
            <label for="q5so3">Cricket</label><br>

            <input type="radio" id="q5so4" name="q5s" value="q5so4">
            <label for="q5so4">Swimming</label><br>


        </div>
        <br>

        <div style="text-align: left; font-size: 1.3em; color: rgb(255, 255, 255);">
            <label for="q6s"><b>Who has won 23 Grand Slam Singles Titles in Women Tennis &#128161</b></label><br>
            <br>

            <input type="radio" id="q6so1" name="q6s" value="q6so1">
            <label for="q6so1">Sania Mirza</label><br>

            <input type="radio" id="q6so2" name="q6s" value="q6so2">
            <label for="q6so2">Serena Williams</label><br>

            <input type="radio" id="q6so3" name="q6s" value="q6so3">
            <label for="q6so3">Ashleigh Barty</label><br>

            <input type="radio" id="q6so4" name="q6s" value="q6so4">
            <label for="q6so4">Venus Williams</label><br>


        </div>
        <br>

        <div style="text-align: left; font-size: 1.3em; color: rgb(255, 255, 255);">
            <label for="q7s"><b>When did India win its first Olympic Gold Medal &#128161</b></label><br>
            <br>

            <input type="radio" id="q7so1" name="q7s" value="q7so1">
            <label for="q7so1">1948</label><br>

            <input type="radio" id="q7so2" name="q7s" value="q7so2">
            <label for="q7so2">1952</label><br>

            <input type="radio" id="q7so3" name="q7s" value="q7so3">
            <label for="q7so3">1964</label><br>

            <input type="radio" id="q7so4" name="q7s" value="q7so4">
            <label for="q7so4">1928</label><br>


        </div>
        <br>

        <div style="text-align: left; font-size: 1.3em; color: rgb(255, 255, 255);">
            <label for="q8s"><b>What does the Blue Color Ring represent in the Olympic Rings &#128161</b></label><br>
            <br>

            <input type="radio" id="q8so1" name="q8s" value="q8so1">
            <label for="q8so1">Asia</label><br>

            <input type="radio" id="q8so2" name="q8s" value="q8so2">
            <label for="q8so2">Africa</label><br>

            <input type="radio" id="q8so3" name="q8s" value="q8so3">
            <label for="q8so3">Oceania</label><br>

            <input type="radio" id="q8so4" name="q8s" value="q8so4">
            <label for="q8so4">Europe</label><br>


        </div>
        <br>

        <div style="text-align: left; font-size: 1.3em; color: rgb(255, 255, 255);">
            <label for="q9s"><b>Which was the first Sport played on the Moon &#128161</b></label><br>
            <br>

            <input type="radio" id="q9so1" name="q9s" value="q9so1">
            <label for="q9so1">Golf</label><br>

            <input type="radio" id="q9so2" name="q9s" value="q9so2">
            <label for="q9so2">Tennis</label><br>

            <input type="radio" id="q9so3" name="q9s" value="q9so3">
            <label for="q9so3">Badminton</label><br>

            <input type="radio" id="q9so4" name="q9s" value="q9so4">
            <label for="q9so4">Archery</label><br>


        </div>
        <br>

        <div style="text-align: left; font-size: 1.3em; color: rgb(255, 255, 255);">
            <label for="q10s"><b>Narain Karthikeyan was the First __ from India &#128161</b></label><br>
            <br>

            <input type="radio" id="q10so1" name="q10s" value="q10so1">
            <label for="q10so1">Car Racer</label><br>

            <input type="radio" id="q10so2" name="q10s" value="q10so2">
            <label for="q10so2">Formula One Driver</label><br>

            <input type="radio" id="q10so3" name="q10s" value="q10so3">
            <label for="q10so3">MotoGP Racer</label><br>

            <input type="radio" id="q10so4" name="q10s" value="q10so4">
            <label for="q10so4">Cyclist</label><br>

        <button style="height: 20px; font-size: 15px;" type="submit">Submit</button>
    </form>
 
    
</body>
</html>
