<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-image: url('/static/quizbg.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        h1,h2{
            color: rgb(255, 255, 255);
        }

    </style>
</head>
<body>

    <h1>Welcome to the Quiz {{username}}</h1>
    <h2>Let's begin the quiz!!</h2>
    <br><br>


    <form action="{{url_for('final_page_sports')}}" method="POST">

        <div style="text-align: left; font-size: 1.3em; color: rgb(255, 255, 255);">
                <label for="q1s"><b> How frequently is FIFA World Cup is held?</b></label><br>
                <br>

                <input type="radio" id="q1so1" name="q1s" value="q1so1">
                <label for="q1so1">Every 2 Years</label><br>

                <input type="radio" id="q1so2" name="q1s" value="q1so2">
                <label for="q1so2">Every 3 Years</label><br>

                <input type="radio" id="q1so3" name="q1s" value="q1so3">
                <label for="q1so3">Every 4 Years</label><br>

                <input type="radio" id="q1so4" name="q1s" value="q1so4">
                <label for="q1so4">Every Year</label><br>

                <button style="height: 20px; font-size: 15px;" type="submit">Submit</button>
        </div>
        <br>
        
    </form>
 
    
</body>
</html>
