<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    body {
                text-align: "center";
                background-image: url('wall.jpeg');
                background-repeat: no-repeat;
                background-size: cover;
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ultimate Quiz</title>
</head>
<body>
<h1><h1>
    <form action="{{url_for('question_page')}}" method="POST"> 
        <label for="quiz_type" style= "color": rgb(255, 255, 255); font-size: 1.1 em ; ></label>
        <center>
            
                <input type="radio" name="quiz_type" id="for_git">
                <label for="for_git">  <img src="static/b.jpeg" alt="no image found" style="width: 500px; height: 400px; border-radius: 20px;margin-top: 150px; margin-right: 50px;"> </label>


                <input type="radio" name="quiz_type" id="for_sports">
                <label for="for_sports">  <img src="static/a.jpeg" alt="no image found" style="width: 500px; height: 400px;border-radius: 20px;margin-top: 150px;text-align: center; justify-content: center;"> </label>
 </label>
 
 <br><br><br><br>
        <button style="height: 50px; font-size: 30px; box-shadow: 2px 2px black;" type="submit">Start Qizz</button></center>
    </form>



</body>
</html>


