<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZ</title>
    <style>
        body
        {
            background-image: url('static/quiz_page_bg.webp');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        h1,h2{
            color: rgb(255, 251, 0);
        }
    </style>
</head>

<body>
    <h1>Welcome to the Quiz {{username}}</h1>
    <h2>Let's begin the quiz!!</h2>
    <br><br>


    <form action="{{url_for('final_page')}}" method="POST">

        <div style="text-align: left; font-size: 1.3em; color: rgb(0, 0, 0);">
            <button class="btn-4" style="text-align: left;">
                <label for="q1"><b> The main objectives of Git are &#128161</b></label><br>
                <br>

                <input type="radio" id="q1o1" name="q1" value="q1o1">
                <label for="q1o1">Speed</label><br>

                <input type="radio" id="q1o2" name="q1" value="q1o2">
                <label for="q1o2">Data Integrity</label><br>

                <input type="radio" id="q1o3" name="q1" value="q1o3">
                <label for="q1o3">support for distributed non-linear workflows</label><br>

                <input type="radio" id="q1o4" name="q1" value="q1o4">
                <label for="q1o4"> All of the above</label><br>

            </button>
        </div>
        <br>


        <div style="text-align:left; font-size: 1.3em; color: rgb(0, 0, 0);">
            <button class="btn-4" style="text-align: left;">
                <label for="q2"><b> 1. Which Command is used to show limited number of commits &#128161</b></label><br>
                <br>

                <input type="radio" id="q2o1" name="q2" value="q2o1">
                <label for="q2o1">git fetch</label><br>

                <input type="radio" id="q2o2 name=" q2" value="q2o2">
                <label for="q2o2">git log -n</label><br>

                <input type="radio" id="q2o3" name="q2" value="q2o3">
                <label for="q2o3">git config</label><br>

                <input type="radio" id="q2o4" name="q2" value="q2o4">
                <label for="q2o4">git status</label><br>

            </button>
        </div>
        <br>

        <div style="text-align: left; font-size: 1.3em; color: rgb(0, 0, 0);">
            <button class="btn-4" style="text-align: left;">
                <label for="q3"><b> ____________ command is useful for getting a high-level overview of the project
                        history &#128161</b></label><br>
                <br>

                <input type="radio" id="q3o1" name="q3" value="q3o1">
                <label for="q3o1">git log --oneline</label><br>

                <input type="radio" id="q3o2" name="q3" value="q3o2">
                <label for="q3o2">git reset --hard</label><br>

                <input type="radio" id="q3o3" name="q3" value="q3o3">
                <label for="q3o3">git log --author=""</label><br>

                <input type="radio" id="q3o4" name="q3" value="q3o4">
                <label for="q3o4">git rebase</label><br>

            </button>
        </div>
        <br>

        <div style="text-align: left; font-size: 1.3em; color: rgb(0, 0, 0);">
            <button class="btn-4" style="text-align: left;">
                <label for="q4"><b> ___________________ removes untracked files from your working directory
                        &#128161</b></label><br>
                <br>

                <input type="radio" id="q4o1" name="q4" value="q4o1">
                <label for="q4o1">git commit</label><br>

                <input type="radio" id="q4o2" name="q4" value="q4o2">
                <label for="q4o2">git clean -f</label><br>

                <input type="radio" id="q4o3" name="q4" value="q4o3">
                <label for="q4o3">git clean</label><br>

                <input type="radio" id="q4o4" name="q4" value="q4o4">
                <label for="q4o4">git reset</label><br>

            </button>
        </div>
        <br>

        <div style="text-align: left; font-size: 1.3em; color: rgb(0, 0, 0);">
            <button class="btn-4" style="text-align: left;">
                <label for="q5"><b>Command to download all the objects and references from a specified repository
                        &#128161</b></label><br>
                <br>

                <input type="radio" id="q5o1" name="q5" value="q5o1">
                <label for="q5o1">git config --list</label><br>

                <input type="radio" id="q5o2" name="q5" value="q5o2">
                <label for="q5o2">git help</label><br>

                <input type="radio" id="q5o3" name="q5" value="q5o3">
                <label for="q5o3">git fetch</label><br>

                <input type="radio" id="q5o4" name="q5" value="q5o4">
                <label for="q5o4">git log -n</label><br>

            </button>
        </div>
        <br>

        <div style="text-align: left; font-size: 1.3em; color: rgb(0, 0, 0);">
            <button class="btn-4" style="text-align: left;">

                <label for="q6"><b> _____________ command renames the current branch to &#128161</b></label><br>
                <br>

                <input type="radio" id="q6o1" name="q6" value="q6o1">
                <label for="q6o1">git remote rm</label><br>

                <input type="radio" id="q6o2" name="q6" value="q6o2">
                <label for="q6o2">git branch -m</label><br>

                <input type="radio" id="q6o3" name="q6" value="q6o3">
                <label for="q6o3">git branch -D (CAPS)</label><br>

                <input type="radio" id="q6o4" name="q6" value="q6o4">
                <label for="q6o4">git rebase</label><br>

            </button>
        </div>
        <br>

        <div style="text-align: left; font-size: 1.3em; color: rgb(0, 0, 0);">
            <button class="btn-4" style="text-align: left;">
                <label for="q7"><b>In Git, if you want to make your local repository reflect changes that have been made
                        in a remote (tracked) repository, you should run the pull command &#128161</b></label><br>
                <br>

                <input type="radio" id="q7o1" name="q7" value="q7o1">
                <label for="q7o1">True</label><br>

                <input type="radio" id="q7o2" name="q7" value="q7o2">
                <label for="q7o2">False</label><br>

            </button>
        </div>
        <br>


        <div style="text-align: left; font-size: 1.3em; color: rgb(0, 0, 0);">
            <button class="btn-4" style="text-align: left;">
                <label for="q8"><b>Which of these Git client commands creates a copy of the repository and a working
                        directory in the client’s workspace. &#128161</b></label><br>
                <br>

                <input type="radio" id="q8o1" name="q8" value="q8o1">
                <label for="q8o1">checkout</label><br>

                <input type="radio" id="q8o2" name="q8" value="q8o2">
                <label for="q8o2">clone</label><br>

                <input type="radio" id="q8o3" name="q8" value="q8o3">
                <label for="q8o3">import</label><br>

                <input type="radio" id="q8o4" name="q8" value="q8o4">
                <label for="q8o4">update</label><br>


            </button>
        </div>
        <br>



        <div style="text-align: left; font-size: 1.3em; color: rgb(0, 0, 0);">
            <button class="btn-4" style="text-align: left;">
                <label for="q9"><b>Git is a .................... Version Control tool &#128161</b></label><br>
                <br>

                <input type="radio" id="q9o1" name="q9" value="q9o1">
                <label for="q9o1">Decentralized</label><br>

                <input type="radio" id="q9o2" name="q9" value="q9o2">
                <label for="q9o2">Centralized</label><br>

            </button>
        </div>
        <br>

        <div style="text-align: left; font-size: 1.3em; color: rgb(0, 0, 0);">
            <button class="btn-4" style="text-align: left;">
                <label for="q10"><b>Git command .................... used to give tags to the specified commit. &#128161</b></label><br>
                <br>

                <input type="radio" id="q10o1" name="q10" value="q10o1">
                <label for="q10o1"> git checkout [branch name]</label><br>

                <input type="radio" id="q10o2" name="q10" value="q10o2">
                <label for="q10o2"> git show [commit]</label><br>

                <input type="radio" id="q10o3" name="q10" value="q10o3">
                <label for="q10o3"> git tag [commitID]</label><br>

                <input type="radio" id="q10o4" name="q10" value="q10o4">
                <label for="q10o4"> git rm [file]</label><br>


            </button>
        </div>
        <br>

        <button style="height: 20px; font-size: 15px;" type="submit">Submit</button>
    </form>


</body>

</html>